$tablet: 600px;
$desktop: 992px;

$primary: #d87d4a;
$primary-light: #fbaf85;
$secondary: #101010;
$gray: #f1f1f1;
$gray-light: #fafafa;
$black: #000000;
$black-light: rgba(0, 0, 0, 0.5);
$white: #ffffff;
$white-light: rgba(255, 255, 255, 0.5);
$input-border: #cfcfcf;
